{{#if fm.attributes.coords}}
<div id="map"></div>
<script>

    window.addEventListener('load', (event) => {
        console.log('page is fully loaded');

        // TO MAKE THE MAP APPEAR YOU MUST
        // ADD YOUR ACCESS TOKEN FROM
        // https://account.mapbox.com
        mapboxgl.accessToken = 'pk.eyJ1IjoiamF5c2VlMDAiLCJhIjoiY2tqOGoxNW9vMHk0aTJ1bXQ3bmR3MnF1MiJ9.kaEdb0lKfVSlmrftZ-ie8A';
        var map = new mapboxgl.Map({
            container: 'map', // container id
            style: 'mapbox://styles/mapbox/streets-v11', // style URL
            center: [{{ fm.attributes.coords.longitude }}, {{ fm.attributes.coords.latitude }}], // starting position [lng, lat]
            zoom: 10 // starting zoom
        });

        var marker = new mapboxgl.Marker()
            .setLngLat([{{ fm.attributes.coords.longitude }}, {{ fm.attributes.coords.latitude }}])
            .addTo(map);
    });
</script>
{{/if}}

{{{ fm.md }}}
{{#if fm.attributes.hero }}
<div class="blogimg">
    <hr />
    <img src="{{ fm.attributes.hero.url }}" />
    <p>{{ fm.attributes.hero.description }}</p>
</div>
{{/if}}