{{{ node.body }}}
<div class="cards">
{{#each portfolioBlogs }}
    <a class="card"
        href="/{{this.path}}"
         style="background-image: url({{attributes.hero.url}})">
        <div class="card-title">
        <h3>{{ attributes.title }}</h3>
        <p>{{ attributes.lede }}</p>
        {{#attributes.tags}}
            <span class="card-tag">{{this}}</span>
        {{/attributes.tags}}
        </div>
    </a>    
{{/each}}
</div>