{{{ fm.md }}}
<div class="cards">
{{#each entries }}
    <a class="card"
        href="/{{this.url}}"
        style="background-image: url({{this.fm.attributes.hero.url}})">
        <div class="card-title">
        <h3>{{ this.fm.attributes.title }}</h3>
        <p>{{ this.fm.attributes.lede }}</p>
        {{#attributes.tags}}
            <span class="card-tag">{{this}}</span>
        {{/attributes.tags}}
        </div>
    </a>    
{{/each}}
</div>